@import url("https://fonts.googleapis.com/css2?family=Anton&family=Lato&display=swap");

:root {
  --title-color: #614120;
  --background-color: #000;
  --text-color: #f5f5f5;
  --title-color: #996633;
  --title-size: 2rem;
  --subtitle-color: #996633;
  --accent-color: #73ab84;
  --subtitle-size: 1.4rem;
  --page-max-width: 650px;
  --section-margin: 3em;
}

/* General */

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  margin: auto;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: "Lato", sans-serif;
}

body::-webkit-scrollbar {
  width: 0.6em;
}

body::-webkit-scrollbar-track {
  background-color: var(--background-color);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--subtitle-color);
  border-radius: 0.07em;
}

img {
  height: 100%;
}

.header,
.article-section {
  margin-bottom: var(--section-margin);
}

.article-section {
  padding-top: 1.5em;
}

.header__nav,
.article-section {
  max-width: var(--page-max-width);
  margin-left: auto;
  margin-right: auto;
}

.article-paragraph {
  line-height: 1.5;
  margin-bottom: 3em;
}

.article-paragraph:last-child {
  margin-bottom: 0;
}

.section-title,
.section-subtitle {
  font-family: "Anton", sans-serif;
}

.section-title {
  color: var(--title-color);
  font-size: var(--title-size);
  font-family: "Anton", sans-serif;
  margin-bottom: 0.65em;
}

.section-subtitle {
  color: var(--title-color);
  font-size: var(--subtitle-size);
  margin-bottom: 0.6em;
}

/* Header */

.header {
  position: relative;
}

.header__img {
  margin-bottom: var(--section-margin);
}

.header__title {
  position: absolute;
  top: 25vh;
  right: 6vw;
  z-index: 1;
  font-size: 12rem;
  font-family: "Anton", sans-serif;
  text-transform: uppercase;
  color: var(--title-color);
}

.header__img {
  height: 100vh;
  width: 100%;
  object-fit: cover;
}

/* Navigation */
.header__list {
  padding-left: 2em;
  color: var(--accent-color);
  font-size: 1.25rem;
}

.header__list-element {
  margin-bottom: 0.5em;
  list-style-type: decimal;
}

.header__list-element:last-child {
  margin-bottom: 0;
}

.header__link {
  text-decoration: none;
  font-size: 1.4rem;
  cursor: pointer;
  color: var(--accent-color);
}

.header__link-text {
  text-decoration: underline;
  font-size: 1.25rem;
  letter-spacing: 0.03em;
}

/* Introduction */
.introduction__img {
  margin-top: 1em;
  width: 35%;
  float: right;
  shape-outside: url(../assets/img/goggins-sitting.png);
  shape-margin: 1.1em;
}

/* Transformation */
.transformation__figure,
.badass__figure {
  margin-left: auto;
  margin-right: auto;
  color: var(--subtitle-color);
  text-align: center;
  font-size: 1.1rem;
}

.transformation__img,
.badass__img {
  width: 100%;
  margin-bottom: 0.4em;
}

.transformation__figure {
  max-width: 70%;
}

/* Badass */
.badass__ultra-container {
  display: flex;
  gap: 2em;
}

.badass__img {
  width: 40%;
}

/* Sources */
.sources__title {
  font-size: calc(var(--title-size) * 0.7);
  font-family: "Anton", sans-serif;
  color: var(--subtitle-color);
  margin-bottom: 0.5em;
}

.sources__list {
  padding-left: 1.2em;
}

.sources__source {
  font-size: 0.7rem;
  margin-bottom: 0.6em;
  list-style-type: circle;
  line-height: 1.4;
}

.sources__source a {
  color: var(--text-color);
}
