@import url("https://fonts.googleapis.com/css2?family=Anton&family=Lato&display=swap");

:root {
  --title-color: #614120;
  --background-color: #121212;
  --text-color: #f5f5f5;
  --title-color: #996633;
  --title-size: 2rem;
  --subtitle-color: #996633;
  --accent-color: #73ab84;
  --subtitle-size: 1.4rem;
  --page-max-width: 650px;
  --section-margin: 5em;
}

/* General */
html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  margin: auto;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: "Lato", sans-serif;
}

body::-webkit-scrollbar {
  width: 0.6em;
}

body::-webkit-scrollbar-track {
  background-color: var(--background-color);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--subtitle-color);
  border-radius: 0.07em;
}

img {
  height: 100%;
}

.header,
.article-section {
  margin-bottom: var(--section-margin);
}

.article-section {
  padding-top: 1.5em;
}

.header__nav,
.article-section {
  max-width: var(--page-max-width);
  margin-left: auto;
  margin-right: auto;
  padding-left: 50px;
  padding-right: 50px;
}

@media screen and (max-width: 570px) {
  .header__nav,
  .article-section {
    padding-left: 1em;
    padding-right: 1em;
  }
}

.article-paragraph {
  line-height: 1.65;
  margin-bottom: 3em;
}

.article-paragraph:last-child {
  margin-bottom: 0;
}

.section-title,
.section-subtitle {
  font-family: "Anton", sans-serif;
}

.section-title {
  color: var(--title-color);
  font-size: var(--title-size);
  font-family: "Anton", sans-serif;
  margin-bottom: 1em;
}

.section-subtitle {
  color: var(--title-color);
  font-size: var(--subtitle-size);
  margin-bottom: 0.8em;
}

/* Header */
.header__container {
  position: relative;
  height: 100vh;
  margin-bottom: var(--section-margin);
}

.header__img {
  width: 100%;
  object-fit: cover;
}

.header__text-container {
  position: absolute;
  z-index: 10;
  top: 25vh;
  right: 6vw;
  z-index: 1;
  font-size: 12rem;
  font-family: "Anton", sans-serif;
  text-transform: uppercase;
  color: var(--title-color);
}

@keyframes arrow-down {
  0% {
    transform: translateY(0);
  }

  20% {
    transform: translateY(0.8em);
  }

  30% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(0);
  }
}

.header__arrow-icon {
  position: absolute;
  bottom: 1.8em;
  left: 50%;
  transform: translateX(-50%);
  height: 4em;
  animation: arrow-down 2s ease-in infinite;
}

@media screen and (max-width: 1100px) {
  .header__img {
    object-position: 30%;
  }

  .header__title {
    font-size: 6rem;
  }
}

@media screen and (max-width: 530px) {
  .header__text-container {
    font-size: 5rem;
    top: unset;
    bottom: 0;
    left: 0;
    background-color: #ffffff50;
    backdrop-filter: blur(10px);
    padding: 0.2em;
    border-top-right-radius: 0.02em;
    color: var(--title-color);
    width: min-content;
  }

  .header__title {
    filter: brightness(0.6);
  }

  .header__img {
    object-position: 5% 0;
  }
}

/* Navigation */
.header__list {
  padding-left: 2em;
  color: var(--accent-color);
  font-size: 1.25rem;
}

.header__list-element {
  margin-bottom: 0.5em;
  list-style-type: decimal;
}

.header__list-element:last-child {
  margin-bottom: 0;
}

.header__link {
  text-decoration: none;
  cursor: pointer;
  color: var(--accent-color);
}

.header__link-text {
  text-decoration: underline;
  letter-spacing: 0.03em;
}

@keyframes arrow-move {
  0% {
    transform: translateY(0);
  }

  2% {
    transform: translateY(0.3rem);
  }

  4% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(0);
  }
}

.header__link-arrow {
  display: inline-block;
  font-size: 1.4rem;
  animation: arrow-move 10s ease-in infinite;
}

.header__link-arrow--1 {
  animation-delay: 2s;
}

.header__link-arrow--2 {
  animation-delay: 4s;
}

.header__link-arrow--3 {
  animation-delay: 6s;
}

.header__link-arrow--4 {
  animation-delay: 8s;
}

/* Introduction */
.introduction {
  margin-bottom: calc(var(--section-margin) * 0.4);
}

.introduction__img {
  margin: 1em 0 1em 1em;
  width: 35%;
  float: right;
  shape-outside: url(../assets/img/goggins-sitting.png);
  shape-margin: 0.6em;
}

@media screen and (max-width: 530px) {
  .introduction__container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  .introduction__container p {
    margin-bottom: 1em;
  }

  .introduction__img {
    margin-top: 0;
    width: 100%;
    max-width: 15rem;
  }
}

/* Childhood */
.childhood__after-escape-container {
  position: relative;
}

@keyframes bg-color {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-50vh - var(--page-max-width)));
  }
}

.childhood__gun-img {
  float: right;
  width: 30%;
  shape-outside: url("../assets/img/gun.png");
  shape-margin: 1em;
  margin-left: 1em;
  margin-top: 48px;
}

.childhood__bullet-img {
  position: absolute;
  height: 16px;
  /* transform: scale(0.07); */
  top: 58px;
  right: 100px;
  z-index: -1;
  animation: bg-color linear both;
  animation-timeline: view(10%);
}

.childhood__paragraph-first-part {
  margin-bottom: 1.5em;
  display: block;
}

@media screen and (max-width: calc(650px + 100px)) {
  .childhood__paragraph-first-part {
    margin-bottom: 0;
    display: inline;
  }

  .childhood__bullet-img {
    display: none;
  }

  .childhood__gun-img {
    width: 60%;
    shape-margin: 0.4em;
    margin-top: 0.25em;
    max-width: 12rem;
  }
}

/* Transformation */
.transformation__figure {
  margin-left: auto;
  margin-right: auto;
  color: var(--subtitle-color);
  text-align: center;
  font-size: 1.1rem;
  width: 80%;
  margin-top: -1em;
  margin-bottom: 2.5em;
}

.transformation__img,
.badass__img {
  width: 100%;
  margin-bottom: 0.4em;
}

/* Badass */
.badass__subtitle {
  margin-bottom: 1.2em;
}

.badass__ultra-container {
  display: flex;
  gap: 1.8em;
}

.badass__figure {
  width: 45%;
  height: 100%;
  color: var(--subtitle-color);
  text-align: center;
  font-size: 1.1em;
}

.badass__paragraph--ultra {
  width: 55%;
}

@media screen and (max-width: calc(650px + 2em)) {
  .badass__ultra-container {
    flex-direction: column-reverse;
    align-items: center;
  }

  .badass__paragraph--ultra {
    width: unset;
  }

  .badass__figure {
    width: 70%;
  }
}
/* Sources */
.sources__title {
  font-size: calc(var(--title-size) * 0.7);
  font-family: "Anton", sans-serif;
  color: var(--subtitle-color);
  margin-bottom: 0.5em;
}

.sources__list {
  padding-left: 1.2em;
}

.sources__source {
  font-size: 0.7rem;
  margin-bottom: 0.6em;
  list-style-type: circle;
  line-height: 1.4;
}

.sources__source a {
  color: var(--text-color);
}
